html {
  orphans: 2;
  widows: 2;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans CJK JP Regular";
  font-size: 14px;
  margin: 10px;
  counter-reset: chapter 0;
}

#mokuji {
  font-size: 15px;
}

#TOC {
  background-color: whitesmoke;
}

#TOC ul{
  list-style-type: none;
  margin-left: 3em;
  margin-right: auto;
  text-align: left;
}

sup {
  font-size: 9px;
}
/*
#TOC a::after {
  content: leader(dotted) " " target-counter(attr(href, url), page);
}
*/

pre {
  background-color: whitesmoke;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pbreak {
  page-break-after: always;
}

@page {
  size: 210mm 297mm;
  margin-top: 10mm;
  margin-bottom: 10mm;
  margin-left: 10mm;
  margin-right: 10mm;
  /* The followings are inherited to page-margin boxes */
  /*
  font-family: "Ricty", Georgia, serif;
  */
  font-size: 9pt;
  vertical-align: top;
}
@page :left {
  /* top-left header */
  /*
  @top-left {
    content: "RacketTextbook-JP";
    margin-bottom: 4mm;
    border-bottom: 2pt solid #000;
  }
  */
  /* bottom-left page number */
  @bottom-left {
    content: counter(page);
    margin-top: 6mm;
    margin-bottom: 10mm;
  }
}
@page :right {
  /* top-right header (only for border) */
  /*
  @top-right {
    content: "RacketTextbook-JP";
    margin-bottom: 4mm;
    border-bottom: 2pt solid #000;
  }
  */
  /* bottom-right page number */
  @bottom-right {
    content: counter(page);
    margin-top: 6mm;
    margin-bottom:10mm;
  }
}
html {
  font-family: "Ricty", Georgia, serif;
  font-weight: normal;
  font-size: 9pt;
  line-height: 18pt;
}


h1{
  font-weight: bold;
  font-size: 15pt;
  line-height: 1em;
  margin-bottom: 10pt;
  text-indent: 0;
  /* forbid page/column break after it */
  page-break-before: always;
     page-break-after: avoid;

}

h2 {
  font-size: 12pt;
  font-weight: bold;
  text-indent: 0;
  /* forbid page/column break after it */
  line-height: 32pt;
  margin-top: 16pt;
}

.chap1 h2 {
  page-break-before: always;
}

h3,.subtitle,.author {
  -weasy-bookmark-level: none;
}

p {
  text-indent: 1em;
}

p strong {
  text-indent: -1em;
}

table, td, th {
  border-collapse: collapse;
  border: 1px #000000 solid;
  padding: 2px 3px;
}

ul {
  margin-left:3em
}

ul li{
  /*
  padding-left: 2em;
  */
  position: relative;
  list-style: none;
}

ul li:not(.matome)::after {
  display: block;
  content: '';
  position: absolute;
  top: 10px;
  left: -1.5em;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border: 1px solid #3498db;
  border-radius: 100%;
}

.matome li::after {
  display: block;
  content: '';
  position: absolute;
  top: .5em;
  left: -1em;
  width: 8px;
  height: 3px;
  border-left: 2px solid #3498db;
  border-bottom: 2px solid #3498db;
  transform: rotate(-45deg);
}

p.dropcap {
  text-indent: 0;
  min-width: 20pt;
}

p.dropcap span.dropcap {
  font-size: 36pt;
  float: left;
  line-height: 36pt;
  margin-right: 2.25pt;
}

p.author {
  text-indent: 0;
  text-align: right;
}

.title {
  text-align: center;
  font-size: 43pt;
  margin-top: 200px;
  text-align: center;
  border: 3px solid #63a7bd;
}
.subtitle {
  text-align: center;
  font-size:30px;
  margin-top: 250px;
}
.author {
  text-align: center;
  font-size:28px;
  margin-top: 20pt;
}
